

.c-page-warning-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c-page-warning-badge > h1 {
    background-color: rgb(43, 74, 128);
    padding: 16px;
    border-radius: 30px;
    color: #fff;
    border: 1px solid black;
}