.homepage-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.homepage-logo{
    width: 30em;
    height: 30em;
    object-fit: contain;
}

.homepage-title{
    background-color: rgb(43, 74, 128);
    padding: 1em;
    border-radius: 30px;
    color: #fff;
    border: 1px solid black;
}
.homepage-search_wrapper{
    color: #fff;
    font-weight: 1.2em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 74, 128);
    border-radius: 30px;
    border: 1px solid black;
}