

.char-table {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.char-table-cell {
    flex: 0 0 calc(18%);
}

.char-table-cell:nth-child(n+6) {
    margin-top: 2.5%;
}

.char-table-cell:not(:nth-child(5n+5)) {
    margin-right: 2.5%;
}

.char-table-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 8fr 1fr;
}
.char-table-btn-left {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;

    width: 60%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: auto;
}
.char-table-grid-mid {
    grid-column: 2 / 3;
}
.char-table-btn-right {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;

    width: 60%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin: auto;
}