
.planet-spinner {
    aspect-ratio: 1 / 1;
    animation: planet-spinner-loading 1s linear infinite;
}

@keyframes planet-spinner-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.planet-spinner-orbite {
    opacity: 0.6;
    fill: none;
    stroke: gray;
    stroke-width: 10%;
    r: 45%;
    cx: 50%;
    cy: 50%;
}

.planet-spinner-planet {
    fill: white;
    r: 5%;
    cx: 50%;
    cy: 5%;
}