*,
*::after,
*::before{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0d1b2a;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background: #0d1b2a;
    margin: 0;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #049204, #099fc5); 
    border-radius: 10px;
    border: 1px solid #0d1b2a;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #049204, #d5ac06);
    cursor: pointer; 
}

body {
    background-image: url('./assets/bgi.jpg');
    font-family: "Roboto", serif;
    margin: 0;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
button {
    /* Remove default browser styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    /* Remove borders, background, and padding */
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  
    /* Reset font styling (optional) */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  
    /* Remove focus outline (replace with accessible styling) */
    outline: none;
  
    /* Remove platform-specific quirks */
    -webkit-tap-highlight-color: transparent; /* Mobile tap highlight */
}

ul {
    list-style: none;
}